@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --dark: #101010;
    --dark-light: #202020;
    --header-color: #161616;
    --border-color: #303030;
    --tab-color: #202020;
    --accent: #5588ff;
    --text-color: #ebebeb;   
    --dark-gradient: linear-gradient(to right, var(--dark-light), #242424, var(--dark-light));
    --border-gradient: linear-gradient(to right, var(--dark-light), #303030, var(--dark-light));
    --theme-gradient: linear-gradient(to right, var(--accent), #8098ff);
    --profile-gradient:linear-gradient(to right, #8098ff, var(--accent), #8098ff);
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--dark);
    color: var(--text-color);
    font-family: Montserrat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    width: 100%;
    height: 60px;
     z-index: 9999;
}

.logo{
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

section{
    padding: 5rem 2rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.links-btn{
    /*height: 40px;
    width: 40px;
    border: 1px solid var(--text-color);*/
    border-radius: 5px;
    padding: .5rem;
    text-align: center;
    font-size: 1.5rem;
    display: flex; justify-content: center; align-items: center;
    background: rgb(100,100,100, .3);
}

.links-div{
    position: absolute;
    display: none; flex-direction: column;
    background: var(--dark-light);
    border: 1px solid var(--border-color);
    padding: 1rem;
    top: 65px;
    right: 1rem;
    gap: 10px;
    width: 150px;
   
}

.links-div.active{
    display: flex;
}

.links-div span{
    padding: .2rem;
    border-radius: 5px;
    background: var(--header-color);
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.login-card{
    height: 170px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background: var(--dark-light);
    padding: 1rem;
    display: flex; flex-direction: column;
    position: relative;
    gap: 10px;
    align-items: center; justify-content: center;
    max-width: 300px;
}

.logins-div{
    display: grid;
    grid-template-columns: repeat(auto-repeat, min-max(230px, 300px));
    width: 100%;
    margin-top: 20px;
    gap: 15px;
}

.delete-btn{
    border: none;
    color: white;
   /* border: 1px solid var(--text-color);*/
   background: var(--accent);
    border-radius: 10px;
    padding: .2rem;
    text-align: center;
    font-size: 1rem;
    /*display: flex; justify-content: center; align-items: center;*/
    width: 100px;
}

.login-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    font-size: 1rem;
    width: 100%;    
    font-weight: 800;
    background: var(--header-color);
    border-radius: 10px;
}

.delete-btn{
    position: absolute;
    bottom: .5rem;
    right: 1rem;
}

.login-date{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: .7rem;
    font-weight: 500;
}

.platform {
    position: absolute;
    top: .5rem;
    left: 1rem;
}

